.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(90deg, #004ec4 0%, #1a73e8 100%);
  color: rgb(0, 45, 192);
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .logo {
  font-family: 'Waltograph', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  letter-spacing: 2px;
}

  .logo-image {
  height: 70px;
  margin-right: 15px;
  }

  .logo-text {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }

  .spacer {
    flex: 1 1 auto;
  }

  nav {
  display: flex;
  gap: 12px;

  button {
    font-weight: 600;
    font-size: 1.05rem;
    font-family: 'Waltograph';
    color: #ffd000; // 👈 couleur par défaut du texte (ex : orange pâle)
    background-color: rgb(25, 65, 242); // 👈 fond discret
    text-transform: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    min-width: 90px;

    &.active-link,
    &:hover {
      background: #ffca28;
      color: #c402ff; // Jaune vif au survol ou actif
    }
  }


    // Spécifique au bouton icône (profil)
    button[mat-icon-button] {
      padding: 0;
      min-width: unset;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 28px;
        color: orange;
        transition: color 0.3s ease;

        &:hover {
          color: #ffd600;
        }
      }
    }
  }
}
