<div class="admin-container">
  <h2>Ajouter une nouvelle question</h2>

  <label for="sondageSelect">Choisir un sondage :</label>
  <select id="sondageSelect" (change)="onSondageChange($event)" [value]="sondageId || ''">
    <option *ngFor="let sondage of sondages" [value]="sondage.id">
      {{ sondage.categorie }}
    </option>
  </select>

  <input
    type="text"
    [(ngModel)]="newQuestionText"
    placeholder="Texte de la question"
  />

  <div *ngFor="let option of newOptions; let i = index">
    <input
      type="text"
      [(ngModel)]="option.text"
      placeholder="Option réponse {{ i + 1 }}"
    />
    <input
      type="number"
      [(ngModel)]="option.votes"
      placeholder="Votes initiaux"
      min="0"
    />
  </div>

  <button (click)="ajouterQuestion()">Ajouter la question</button>

  <hr />

  <h3>Questions existantes</h3>
  <div *ngFor="let question of questions">
    <h4>{{ question.texteQuestion }}</h4>
    <ul>
      <li *ngFor="let option of question.options">
        {{ option.texteOption }} - {{ option.resultat.nombreVotes}} votes
      </li>
    </ul>
  </div>
</div>
