@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  color: #ff4081;
}

@font-face {
  font-family: 'Waltograph';
  src: url('assets/fonts/waltograph/WaltographUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
